#text
  img(src="/img/aboutme.png", alt="Resume", title="Resume")
#stripe

.clear

h2 Importar de linkedin

.clear

- if(request.session.linkedin)
  p
    | Para importar tus datos de linked in tienes que 
    a#linkedButton.button dar click aqui
- else
  p
    | Para poder importar de linkedin, primero tienes que
    | permitir el acceso
    a.button(href="/auth/linkedin") haciendo click aqui

form#form-container(method="post")

  input#numJobs(type='hidden',name='numJobs',value='0')
  input#numSchools(type='hidden',name='numSchools',value='0')
  input#numPublications(type='hidden',name='numPublications',value='0')
  input#numAffiliations(type='hidden',name='numAffiliations',value='0')

  h2(style='margin-bottom: 20px;') Datos personales
  .clear

  label(for='name') Nombre
  input#name(type='text',name='user[name]',class='validate[required]')

  .clear

  label(for='lastName') Apellidos
  input#lastName(type='text',name='user[lastNames]',class='validate[required]')

  .clear

  label(for='title') Headline
  input#title(type='text',name='user[title]',class='validate[required]')

  .clear

  label(for='place') Lugar
  input#place(type='text',name='user[place]')

  .clear

  label(for='summary') Summary
  textarea#summary(name='user[summary]') 

  .clear(style='padding-top: 20px')

  label(for='url') Url
  input#url(type='text',name='user[url]',class='validate[required,custom[url]')

  .clear
  
  h2 Skills
  .clear

  ul#skills
    - each skill in person.skills
      - if (skill.auto)
        li= skill.name

  h2 Experiencia laboral
  .clear

  div(style="float: right")
    a#addJob.button Agregar trabajo

  .clear

  #jobPlaceholder


  .clear

  h2 Educación
  .clear

  #schoolPlaceholder

  div(style="float: right")
    a#addSchool.button Agregar escuela

  .clear

  h2 Publicaciones
  .clear

  #publicationPlaceholder

  div(style="float: right")
    a#addPublication.button Agregar publicación

  .clear

  h2 Afiliaciones
  .clear

  #affiliationPlaceholder

  div(style="float: right")
    a#addAffiliation.button Agregar afiliacion

  .clear

  #submit-btn
    input.submit(type="submit",value="Guardar!")

  .clear

div#hidden(style="display: none")
  div#linkedDialog
    | Va a importar su información de linkedin, si procede la información del
    | formulario que ha llenado a mano se borrará
    | ¿está seguro de querer continuar?

  div.job
    hr(style='margin-bottom: 20px')

    div(style="float: right")
      a.removeJob.button Eliminar trabajo

    label(for='titlenumJob') Título
    input#titlenumJob(type='text',name='jobnumJob[title]',value='titleValue',class='validate[required]')

    .clear

    label(for='companynumJob') Empresa
    input#companynumJob(type='text',name='jobnumJob[company]',value='companyValue',class='validate[required]')

    .clear

    label(for='summarynumJob') Descripción
    textarea#summarynumJob(name='jobnumJob[summary]') summaryValue

    .clear(style='padding-top: 20px')

    label(for='jobStartnumJob') Fecha de inicio
    input#jobStartnumJob(type='text',name='jobnumJob[start]',value='startValue',class='validate[required,custom[date]]')

    .clear

    label(for='jobEndnumJob') Fecha de término
    input#jobEndnumJob(type='text',name='jobnumJob[end]',value='endValue',class='validate[custom[date]]')

    .clear

  div.school
    hr(style='margin-bottom: 20px')

    div(style="float: right")
      a.removeSchool.button Eliminar escuela

    label(for='stitlenumSchool') Título
    input#stitlenumSchool(type='text',name='schoolnumSchool[title]',value='titleValue',class='validate[required]')

    .clear

    label(for='schoolnumSchool') Escuela
    input#schoolnumSchool(type='text',name='schoolnumSchool[school]',value='schoolValue',class='validate[required]')

    .clear

    label(for='ssummarynumSchool') Descripción
    textarea#ssummarynumSchool(name='schoolnumSchool[summary]') summaryValue

    .clear(style='padding-top: 20px')

    label(for='schoolStartnumSchool') Fecha de inicio
    input#schoolStartnumSchool(type='text',name='schoolnumSchool[start]',value='startValue',class='validate[required,custom[date]]')

    .clear

    label(for='schoolEndnumSchool') Fecha de término
    input#schoolEndnumSchool(type='text',name='schoolnumSchool[end]',value='endValue',class='validate[custom[date]]')

    .clear

  div.publication
    hr(style='margin-bottom: 20px')

    div(style="float: right")
      a.removePublication.button Eliminar publicación

    label(for='ptitlenumPublication') Título
    input#ptitlenumPublication(type='text',name='publicationnumPublication[title]',value='titleValue',class='validate[required]')

    .clear

    label(for='purlnumPublication') Link
    input#purlnumPublication(type='text',name='publicationnumPublication[url]',value='urlValue',class='validate[required,custom[url]]')

    .clear

  div.affiliation
    hr(style='margin-bottom: 20px')

    div(style="float: right")
      a.removeAffiliation.button Eliminar afiliación

    label(for='atitlenumPublication') Título
    input#atitlenumAffiliation(type='text',name='affiliationnumAffiliation[title]',value='titleValue',class='validate[required]')

    .clear

