- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/tagit.css', :type => 'text/css', :media => 'all'}
  %link{:rel => 'stylesheet', :href => '/stylesheets/edit.css', :type => 'text/css', :media => 'all'}
  %script{ :src => "/javascripts/tag-it.js", :type => "text/javascript" }
  %script{ :src => "/javascripts/edit.js", :type => "text/javascript" }
  

%h1 Editando: #{@user.username}

%form{ :method => 'post', :action => 'edit' }
  %fieldset
    %legend General
    %p.title
      %input{ :type => "text", :id => "title", :name => "details[title]", :value => @details.title }/
      %label{ :for => "title" } Title
    %p.summary
      %input{ :type => "text", :id => "summary", :name => "details[summary]", :value => @details.summary }/
      %label{ :for => "summary" } Summary
    %p.street
      %input{ :type => "text", :id => "address", :name => "details[address]", :value => @details.address }/
      %label{ :for => "address" } Address
  %fieldset
    %legend Contact
    %p.phone
      %input{ :type => "text", :id => "phone", :name => "details[tel]", :value => @details.tel }/
      %label{ :for => "phone" } Phone
    %p.url
      %input{ :type => "text", :id => "url", :name => "details[url]", :value => @details.url }/
      %label{ :for => "url" } Web site

  %fieldset
    %legend Skills
    %p.skills
      %ul#skills

  %fieldset
    %legend Experience

  %fieldset
    %legend Education

  %fieldset
    %legend Publications

  %fieldset
    %legend Affiliations

    %p.submit
      %input{ :type => 'submit', :value => 'Save changes' }
      :plain
        <script type="in/login" data-onAuth="loadData">
        Hi, <?js= firstName ?> <?js= lastName ?>.
        </script>


