%html
  %head
    %title
    %link{:rel => 'stylesheet', :href => '/stylesheets/edit.css', :type => 'text/css', :media => 'all'}
  %body
    %h1 Editando: #{@user.username}
  
    %form{ :method => 'post', :action => 'edit' }
      %fieldset
