#text
  img(src="/img/resume.png", alt="Resume", title="Resume")
#stripe

h2 Bienvenido a carreras SG

.clear

p 
  | Bienvenido a carreras SG!
  | En este lugar puedes darte de alta, para dar a conocer al mundo tus skills


h3 Registrate con uno de estos servicios

p
  a(href="/auth/linkedin")
    img(src="/img/linkedin-logo.png",style="width:256px")
  a(href="/auth/github")
    img(src="/img/github-logo.png",style="width:256px")

