%h1 Bienvenido a Carrera SG
%p
  %iframe{ :src => "http://sgcarrera.rpxnow.com/openid/embed?token_url=http%3A%2F%2Fsgcarrera.heroku.com%2Ftoken", :frameborder => "no", :scrolling => "no", :allowTransparency => "true", :style => "width: 400px; height; 240px" }
%p
  %a{ :href => "/new" } Abrir cuenta
%p
  %a{ :href => "/login" } Entrar a cuenta



