!!! Strict
%html
  %head
    %title
      = @title || 'SG Carrera'
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Nobile', :type => 'text/css', :media => 'all'}
  %body
    = yield

