!!! Strict
%html
  %head
    %title
      = @title || 'SG Carrera'


    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico" }/

    %link{ :rel => "stylesheet", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/flick/jquery-ui.css" }/
    %link{:rel => 'stylesheet', :href => '/stylesheets/main.css', :type => 'text/css', :media => 'all'}

    %script{ :src => "https://www.google.com/jsapi?key=ABQIAAAAT83bFvOb6YpQNRaRzs2DhhQdogSQYK8gsSpb5l17-UYe2gcnuhRuJpPWP74Dvn4oSd9Xvhg7Vod2Ig", :type => "text/javascript" }
    %script{ :type => "text/javascript", :src => "/javascripts/loader.js" }
    %script{ :type => "text/javascript", :src => "http://platform.linkedin.com/in.js" }
      api_key:   J956L9qfFnjMColuRUhr4cZCIV6r3dXQWEOaT6OecAq_6vIikfovFTTBD9m0MK9w
      authorize: true

    = yield_content :head
  %body
    %div#main
      - [:notice, :warning].each do |type|
        - if message = flash[type]
          .flash{:class => type}= message
      = yield

    :plain
      <a href="http://github.com/softwareguru/sgcarrera"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/edc6dae7a1079163caf7f17c60495bbb6d027c93/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>


