!!! Strict
%html
  %head
    %title
      = @title || 'SG Carrera'
      
    %link{ :rel => "stylesheet", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/flick/jquery-ui.css" }/
    %link{:rel => 'stylesheet', :href => '/stylesheets/main.css', :type => 'text/css', :media => 'all'}

    %script{ :src => "https://www.google.com/jsapi?key=ABQIAAAAT83bFvOb6YpQNRaRzs2DhhQdogSQYK8gsSpb5l17-UYe2gcnuhRuJpPWP74Dvn4oSd9Xvhg7Vod2Ig", :type => "text/javascript" }
    %script{ :type => "text/javascript", :src => "/javascripts/loader.js" }
    %script{ :type => "text/javascript", :src => "http://platform.linkedin.com/in.js" }
      api_key:   J956L9qfFnjMColuRUhr4cZCIV6r3dXQWEOaT6OecAq_6vIikfovFTTBD9m0MK9w
      authorize: false

    = yield_content :head
  %body
    %div#main
      - [:notice, :warning].each do |type|
        - if message = flash[type]
          .flash{:class => type}= message
      = yield

