- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/new.css', :type => 'text/css', :media => 'all'}

%form{ :method => 'post', :action => 'login' }
  %fieldset
    %h2 Entrar a cuenta
    %p.username
      %input{ :name => 'username', :type => 'text', :id => 'username' }
      %label{:for => 'username'}Username
    %p.password
      %input{ :name => 'password', :type => 'password', :id => 'password' }
      %label{:for => 'password'}Password
    %p.submit
      %input{ :type => 'submit', :value => 'Crear cuenta' }

