- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/new.css', :type => 'text/css', :media => 'all'}

%form{ :method => 'post', :action => 'new' }
  %fieldset
    %h2 Crear cuenta
    %p.username
      %input{ :name => 'user[username]', :type => 'text', :id => 'username' }
      %label{:for => 'username'}Username
    %p.email
      %input{ :name => 'user[email]', :type => 'email', :id => 'email' }
      %label{:for => 'email'}Correo
    %p.password
      %input{ :name => 'user[password]', :type => 'password', :id => 'password' }
      %label{:for => 'password'}Password
    %p.submit
      %input{ :type => 'submit', :value => 'Crear cuenta' }

