#text
  img(src="/img/aboutme.png", alt="Resume", title="Resume")
#stripe

#about.clearfix
  -var gravatarUrl = "http://www.gravatar.com/avatar/" + gravatar + "?s=300"
  img(src=gravatarUrl, alt=person.slug, title="Tu gravatar")
