- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/profile.css', :type => 'text/css', :media => 'all'}


%img{ :src => "http://www.gravatar.com/avatar/#{@digest}?s=200", :alt => "Avatar", :class => "avatar"  }/
%h1= @user.username
%h2= @user.email

%h3 Editar informacion personal

%a{ :title => 'Aqui', :href => "/users/edit" } Editar


