- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/edit.css', :type => 'text/css', :media => 'all'}

%h1 Selecciona username

%form{ :method => 'post', :action => 'select' }
  %input{ :type => "hidden", :name => 'user[identifier]', :value => @identifier }
  %input{ :type => "hidden", :name => 'user[email]', :value => @email }
  %input{ :type => "hidden", :name => 'user[password]', :value => '' }
  %fieldset
    %p.username
      %input{ :name => 'user[username]', :type => 'text', :id => 'username', :value => @username }
      %label{:for => 'username'}Username
    %p.submit
      %input{ :type => 'submit', :value => 'Crear cuenta' }

