/* dejanc@gmail.com */

body {
background:#E9E2D8;
color:#4A3C2B;
}

a {
color:#9F3A25;
text-shadow:1px 1px #fff;
}

a:hover {
color:#111;
}



#header {
background:#5B4B35;
border-bottom:5px solid #524330;
border-top:5px solid #524330;
color:#C6BFB7;
}

#header a{
text-shadow:1px 1px rgba(0,0,0,0.2);
color:#C6BFB7;
}

#header ul{
text-shadow:1px 1px rgba(0,0,0,0.2);
}



#header h3{
text-shadow:1px 1px rgba(0,0,0,0.2);
}

#header h3 a {
background:#786246;
border:2px solid #524330;
}

#header h3 a:hover{
background:#524330;
}


#info strong a{
color:#5B8B19;
}

#info strong a:hover{
color:#111;
}


#info ul li a{
border-right:1px dashed #dee6cb;
}

#info ul li.lastlink a{
border-right:0px dashed #dee6cb;
}

#nav {
background:#fff;
border:5px solid #DDD6CD;
}

#nav ul li a{
background:#88291F;
color:#FFA7AD;
text-shadow:1px 1px #rgba(0,0,0,0.2);
}

#nav ul li a:hover{
background:#6D2119;
text-shadow:1px 1px #354e1d;
}

.sidebarheader a {
border-bottom:2px solid #DDD6CD;
}

#footer {
background:#F7EFE6;
border-top:1px solid #C9C2BB;
color:#4A3C2B;
}

#mid {
background:#F7EFE6;
border:1px solid #C9C2BB;
}

.sidebarcontent {
background:#F3ECE2;
}
.sidebarheader a{
color:#5B8B19;
}

h1 {
color:#5B8B19;
border-bottom:1px dashed #C9C2BB;
}

table {
border:1px solid #C9C2BB;
}

thead {
color:#69834e;
}

td, thead th {
border-bottom:1px solid #C9C2BB;
background:#FFF7ED;
}


input, textarea {
border:1px solid #C9C2BB;
}


label {
color:#4A3C2B;
}

input.submit {
background:#7C9F17;
}

input.submit:hover {
background:#9ebf39;
}

#right h3 {
color:#3D5D0F;
border-bottom:1px dashed  #C9C2BB;
}

.twit {
border-bottom:1px dotted  #C9C2BB;
}

.twit p{
color:#4A3C2B;
}

ul.tabs {
	border-bottom: none;
	border-left: none;
}
ul.tabs li {
	border: 1px solid #C9C2BB;
}

ul.tabs li a:hover {
	background: #F3ECE2;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #C9C2BB;
	background: #fff;
}

blockquote {
color:#625249;
background:#E9E2D8;
}

h1, h2, h3 {
color:#5B8B19;
}


#nav ul li a {
text-shadow:1px 1px rgba(0,0,0,0.2);
}



p.link a {
padding:5px 10px;
background:url(../images/link-trans.png) bottom repeat-x #88291F;
}


tr.even td {
background:url(../images/td-trans.png) top repeat-x #F3ECE2;
}